* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:not(i) {
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #533892;
}
.container {
    background-color: #cecece;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(195, 211, 143, 0.428);
}
.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 20px 40px #575a7b;
}
.search-box input{
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #ae9cff;
    font-size: 16px;
}
.search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: #886ff3;
    border: none;
    outline: none;
    color: #ffffffad;
    border-radius: 5px;

}

.result {
    position: relative;
}
.result h3{
    font-size: 30px;
    color: #1f194c;
}
.result .word {
    display: flex;
justify-content: space-between;
margin-top: 80px;
}
.result button{
    background-color: transparent;
    color: #1f194c;
    border: none;
    outline: none;
    font-size: 18px;
}
.result .details{
    display: flex;
    gap: 10px;
    color: #1f194c;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning{
    color: #1f194c;
}
.word-example{
    color: #1f194c;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
}
.error {
    margin-top: 60px;
    text-align: center;
    color: #1f194c; 
    font-size: 18px;
}
.title {
    text-align: center;
    padding: 90px;
    font-size: 60px;
    color: rgb(231, 231, 231);
    font-style: oblique;
    color: white;
    text-shadow: 
        5px -1px 0 #000,
        1px -1px 0 #000,
        5px  1px 0 #000,
        1px  1px 0 #000;
}
.menu-container {
    position: fixed; 
    top: 10px; 
    left: 10px; 
}